# Dependencies
node_modules/

# Playwright / Cucumber Artifacts
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
videos/
screenshots/

# Build / Output
dist/

# IDEs
.idea/
.vscode/

# OS Specific
.DS_Store
Thumbs.db