BASE_URL=https://your-app-url.com
USER_STANDARD=your_standard_user
USER_LOCKED=your_locked_user
USER_INVALID=your_invalid_user
USER_PERF=your_perf_user
PASSWORD=your_password
PASSWORD_INVALID=your_invalid_password
TIMEOUT_DEFAULT=30000
TIMEOUT_NAVIGATION=60000
TIMEOUT_ASSERTION=10000
